.container
{
    width: 500px;
    width: 800px;
    padding-left: 60px;
}

body
{
    background-color: tan;
}

#height,
#weight
{
    width: 140px;
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    justify-content: space-between;
}
#result{
    font-size: 25px;
    color: red;
    margin-top: 20px;
    padding: 15px;
}

button
{
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 90px;
    text-decoration: none;
    font-size: 20px;
}

h1
{
    padding-left: 15px;
    padding-top: 25px;
}

p
{
    font-size: 16px;
}